{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <h3 class="card-title mb-4 text-center">Change password</h3>
        <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-primary w-100" type="submit">Change password</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
