<div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
    <span class="sidebar-title">Flowdesk</span>
  </a>
  <hr style="border-color: #343a40;">

  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" 
          data-bs-toggle="collapse" 
          data-bs-target="#account-collapse" 
          aria-expanded="false">
        <i class="bi bi-person-circle"></i>
        <span>Account</span>
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'accounts:user-detail' request.user.pk %}" class="">Profile</a></li>
            <li><a href="#" class="">Settings</a></li>
            <li><a href="{% url 'accounts:pre-logout' %}" class="">Logout</a></li>
          {% else %}
            <li><a href="{% url 'accounts:login' %}" class="">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </li>

    {% if request.user.is_authenticated %}
      <hr style="border-color: #343a40;">

      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded disabled w-100 text-start">
          Workspaces
        </button>
      </li>

      {% for ws in user_workspaces %}
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed w-100 text-start" 
                  data-bs-toggle="collapse" 
                  data-bs-target="#workspace-{{ ws.id }}-collapse" 
                  aria-expanded="false">
            <i class="bi bi-box-seam"></i>
            <span>{{ ws.name }}</span>
          </button>
          <div class="collapse" id="workspace-{{ ws.id }}-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="{% url 'flowdesk:workspace-detail' ws.pk %}" class="">
                <i class="bi bi-kanban"></i>
                <span>Boards</span>
              </a></li>
              <li><a href="{% url 'flowdesk:workspace-members' ws.pk %}" class="">
                <i class="bi bi-people"></i>
                <span>Members</span>
              </a></li>
              <li><a href="{% url 'flowdesk:workspace-tags' ws.pk %}" class="">
                <i class="bi bi-bookmarks"></i>
                <span>Task tags</span>
              </a></li>
              <li><a href="{% url 'flowdesk:workspace-update' ws.pk %}" class="">
                <i class="bi bi-gear"></i>
                <span>Settings</span>
              </a></li>
            </ul>
          </div>
        </li>
      {% endfor %}

      <li class="mb-1">
        <a href="{% url 'flowdesk:workspace-create' %}" 
           class="btn btn-secondary align-items-center rounded w-100 text-start">
          + Create Workspace
        </a>
      </li>
    {% endif %}
  </ul>
</div>
