{% extends "base.html" %}

{% block content %}
<div class="container-fluid mt-4">
  <h2 class="mb-4">{{ board.name }}</h2>

  <div class="lists-wrapper">
    <div class="lists-scroll d-flex flex-row gap-3 pb-3" id="lists-scroll">

      {% for list in board.lists.all %}
        <div class="card card-list shadow-sm border-0"
            data-list-id="{{ list.pk }}">
          <h5 class="card-header">{{ list.name }}</h5>
          <div class="list-tasks p-2 task-list"
              data-list-id="{{ list.pk }}">
            {% for task in list.tasks.all %}
              <div class="card mb-2 border-0 shadow-sm task-item"
                  data-task-id="{{ task.id }}">
                <div class="card-body py-2 px-3">
                  {{ task.title }}
                </div>
              </div>
            {% endfor %}

          </div>
          <div class="mt-2 text-center add-task-btn">
            <a href="{% url 'flowdesk:task-create' list.pk %}" class="btn btn-sm btn-outline-primary w-100">
              + Add task
            </a>
          </div>
        </div>
      {% endfor %}


      <div class="card card-list shadow-sm border-0 text-center d-flex align-items-center justify-content-center no-drag">
        <h5 class="card-title text-muted">+ Create new list</h5>
        <a href="{% url 'flowdesk:list-create' board.pk %}" class="stretched-link"></a>
      </div>

    </div>
  </div>
</div>

<input type="range" class="lists-scrollbar" id="lists-scrollbar">

{% load static %}
<script>
  window.updateListOrderUrl = "{% url 'flowdesk:update-list-order' board.pk %}";
  window.updateTaskOrderUrl = "{% url 'flowdesk:update-task-order' board.pk %}";
</script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
<script src="{% static 'js/dragndrop.js' %}"></script>
<script src="{% static 'js/lists_scroll.js' %}"></script>

{% endblock %}
